# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.db
*.sql
*.sqlite3
migration/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTest
.pytest_cache/

# IDE
.idea/
.vscode/

# Virtual environments
venv/
env/
ENV/
.venv/
.env
*.json
